.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the container fill the entire viewport height */
}

.dialog-display-and-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dialog-display {
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f9f9f9;
  padding: 8px;
}

.dialog-list-item {
  margin-bottom: 8px;
}

.optional-reply-bar {
  flex-shrink: 0;
  display: flex;
  background-color: #BEDFE4;
  padding: 8px;
  gap: 8px;
}

.optional-text {
  flex: 1;
  max-height: calc(20px * 5);
  overflow-y: auto;
  font-size: 14px;
  color: black;
  line-height: 20px;
  white-space: pre-wrap;
}

.close-reply-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.input-box-container {
  /* This is a flex container, so it can control the alignment of its children */
  display: flex;
  flex-shrink: 0;
  height: 50px;
  /* Reduced vertical padding to decrease the gap */
  padding: 5px 10px;
  background-color: white;
  /* Align items vertically in the center */
  align-items: center;
  /* Add some space between the input field and the send button */
  gap: 10px;
}

.input-box-container input {
  /* Take up all available space in the container */
  flex-grow: 1;
  height: 40px;
}

.send-button {
  padding: 0 15px;
  height: 40px; /* Make the button the same height as the input */
  background-color: #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assistant-bubble {
  padding: 12px 12px;
  margin: 4px 0;
  max-width: 100%;
}

.reply-icon {
  width: 25px;
  height: 25px;
  margin: 4px 0;
}

.user-bubble {
  background: #E2E7D3;
  color: white;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 4px 0;
  align-self: flex-end;
  max-width: 70%;
}

.chat-display {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered-text {
  align-self: center;
  /* Optional: Add a top margin for spacing */
  margin-top: 50px; 
}