.dialog-display-and-input {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); 
}

.dialog-display {
  flex-grow: 1;
  background-color: #f9f9f9;
  padding: 8px;
}

.dialog-list-item {
  margin-bottom: 8px;
}

.optional-reply-bar {
  flex-shrink: 0;
  display: flex;
  background-color: #BEDFE4;
  padding: 8px;
  gap: 8px;
}

.optional-text {
  flex: 1;
  max-height: calc(20px * 5);
  font-size: 14px;
  color: black;
  line-height: 20px;
}

.close-reply-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.input-box-container {
  flex-shrink: 0;
  height: 50px;
  padding: 10px;
  background-color: white;
}

.assistant-bubble {
  padding: 12px 12px;
  margin: 4px 0;
  max-width: 100%;
}

.reply-icon {
  width: 25px;
  height: 25px;
  margin: 4px 0;
}

.user-bubble {
  background: #E2E7D3;
  color: white;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 4px 0;
  align-self: flex-end;
  max-width: 70%;
}

.chat-display {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.centered-text {
  align-self: center;
  /* Optional: Add a top margin for spacing */
  margin-top: 50px; 
}

.send-button {
  padding: 0 15px;
  background-color: #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}